body {
  padding: 0px;
  margin: 0 auto;
  text-align: center;
  background: url("../img/fondo.png");
  background-size: cover;
  height: 100%;
}

h1 {
  margin: 0px;
}

.container {
  margin: 0px auto;
  margin-top: 50px;
  width: 1100px;
  max-width: 100%;
  height: 570px;
}

.home {
  width: 100%;
  height: 100%;
  background: url("../img/Super_Mario_Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.game {
  margin: 0px auto;
  width: 1100px;
  height: 570px;
  background-image: url("../img/background.jpg");
  background-size: 915px;
  position: relative;
}

.obstacle {
  background: url("../img/bg-obstacle.png");
  background-size: 30px;
  background-repeat: repeat;
  position: absolute;
}

.player {
  background: url("../img/mario.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 62px;
}

.player-reverse {
  background: url("../img/mario-reverse.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: 62px;
}

.door {
  height: auto;
  width: 58px;
  right: 0px;
  position: absolute;
}

#start-button {
  width: 180px;
  height: 80px;
  border: 10px black solid;
  border-radius: 15px;
  background: #fbd003;
  font-size: 40px;
}